.register {
    height: calc(100vh - 160px);
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;

    .orangeBox {
        //background-color: #E15C31;
        background-color: rgba(225, 92, 49, 0.9);
        height: 500px;
        max-height: 500px;
        max-width: 900px;
        border-radius: 16px;
        position: relative;
        padding: 20px;
        margin-left: 120px; // Move the box to the right initially
    }

    .header {
        margin-top: 10px;

        h1 {
            margin: 0;
            font-family: 'Bebas Neue';
            font-size: 50px;
        }
    }

    .subHeader {
        margin-top: 0px;

        h4 {
            margin: 0;
        }
    }

    .pizzaIcon {
        width: 350px;
        z-index: +1;
        position: absolute;
        top: 0px;
        right: -100px;
    }

    .bottomText {
        margin-top: 16px;
        align-content: center;
        justify-content: center;

        h5 {
            margin: 0;
            align-items: center;
            text-align: center;
            font-weight: 600;
        }
    }

    .form {
        display: flex;
        flex-direction: row;
        margin-top: 4vh;

        .form-input {
            margin-top: 12px;
            margin-bottom: 10px;
            //padding-right: 10px;
        }

        .form-left {
            flex: 1;
            margin-top: 0;
        }

        .form-right {
            flex: 1;
            margin-top: 50px;

        }

        .customTextField {
            .MuiFilledInput-root {
                background-color: white; // Change the background color as per your requirement
            }

            // Change background color on hover and focus
            .MuiFilledInput-root:hover,
            .MuiFilledInput-root:focus {
                background-color: rgb(241, 240, 240); // Change the background color on hover and focus
                color: black;
            }

            width: 100%;
            max-width: 450px;
        }

        .login-button {
            align-self: flex-end;
        }

    }




    .pizza-bg {
        z-index: -1;
        height: 140vh;
        position: absolute;
        top: 0%;
        left: 40%;
        transform: translateX(-50%);
    }

    @media (max-width: 768px) {

        // Adjust breakpoint as needed for tablet size
        .orangeBox {
            margin: 0 auto; // Center the box horizontally for smaller screens
        }
    }

}