.register {
  position: relative;
  margin: 0 auto;

  .orangeBox {
    background-color: rgba(225, 92, 49, 0.9);
    height: fit-content;
    //max-height: 500px;
    max-width: 950px;
    border-radius: 16px;
    position: relative;
    padding: 20px;
    margin: 0 auto;
  }

  .header {
    margin-top: 10px;

    h1 {
      margin: 0;
      font-family: 'Bebas Neue';
      font-size: 50px;
    }
  }

  .subHeader {
    margin-top: 0px;

    h4 {
      margin: 0;
    }
  }

  .bottomText {
    margin-top: 16px;
    align-content: center;
    justify-content: center;

    h5 {
      margin: 0;
      align-items: center;
      text-align: center;
      font-weight: 600;
    }
  }

  .form {
    justify-content: center;
    align-content: center;
    text-align: center;

    .form-input {
      max-width: 100%;
    }

    .login-button {
      align-self: center;
      margin-top: 20px;
      width: 80%;
      background-color: white;
      border-bottom: 2px solid black;
      color: #e15c31;
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 16px;

      &:hover {
        background-color: black;
        border-bottom: 2px solid white;
        letter-spacing: 4px;
      }
    }

    .link {
      color: white;
      font-weight: 400;
      text-decoration: underline;

      &:hover {
        color: black;
        letter-spacing: 4px;
      }
    }
  }

  .pizza-bg {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    height: 100vh;
  }

  .orangeBox {
    margin: 0 auto;
  }

  .pizzaIcon {
    display: none;
  }

  .form {
    display: flex;
    flex-direction: column;

    .form-left,
    .form-right {
      flex: 1;
      margin: 4px;
      .form-input-cp,
      .form-input-password {
        display: flex;
        flex-direction: column;
      }

      .form-input {
        margin: 4px;
        max-width: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;

      .form-left {
        flex: 1;
        margin-top: 0;

        .form-input-password {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .form-input {
            flex: 1;
            margin: 0 5px;
            width: 50%;
          }
        }

        .form-input {
          margin: 6px 6px;
        }
      }

      .form-right {
        flex: 1;
        margin-top: 30px;

        .form-input-cp {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .form-input {
            flex: 1;
            margin: 0 5px;
            width: 50%;
          }
        }

        .form-input {
          margin: 6px 6px;
        }
      }
    }

    .pizza-bg {
      top: 80px;
      left: 25vw;
    }

    .pizzaIcon {
      display: block;
      width: 300px;
      z-index: +1;
      position: absolute;
      top: -50px;
      right: +20px;
    }
  }
}
