header {
  height: 80px;
  display: flex;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .header-logo {
    height: 50px;
    object-fit: contain;
    flex-grow: 0;
  }

  .nav {
    display: none;
    list-style: none;
  }

  .nav-item {
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 5px solid transparent;
      padding-bottom: 5px;
      transition: border 0.2s ease-out;

      &.active {
        border-bottom-color: #e15c31;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .nav {
      display: flex;
      gap: 20px;
    }

    .drawer-button {
      display: none;
    }
  }
}
