@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.contact {
    height: calc(100vh - 160px);

    h1 {
        color: rgba(225, 92, 49, 0.9);
        margin: 0;
        font-family: 'Bebas Neue';
        font-size: 180px;
        font-weight: bold;
    }

    h2 {
        margin: 0;
        font-family: 'Montserrat';
        font-size: 40px;
    }

    p {
        font-size: 22px;
    }

    .orangeBox {
        background-color: rgba(225, 92, 49, 0.9);
        height: 700px;
        max-height: 600px;
        max-width: 1300px;
        border-radius: 20px;
        position: relative;
        padding: 20px;
        justify-content: space-between;

        @media (max-width: 768px) {
            height: auto;
            padding: 20px;
        }
    }

    .contact-section {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;

        .contact-info {
            flex: 1;
            margin-right: 20px;
        }

        .contact-form {
            flex: 1;

            input {
                width: 70%;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 10px;
                margin-top: 30px;
                border: none;
            }

            textarea {
                border-radius: 10px;
                width: 84%;
                margin-bottom: 10px;
                height: 200px;
                border: none;
            }

            button {
                background-color: #fff;
                color: #282828;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 150px;
                padding: 10px 100px;
                cursor: pointer;
                text-align: center;
                font-weight: bold;
                font-family: 'Montserrat';
                font-size: 20px;
                border: none;
            }

            img {
                position: absolute;
                right: -140px;
                width: 320px;
                top: -20px;
            }

            @media (max-width: 768px) {
                textarea, button {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
                img {
                    position: absolute;
                    right: -140px;
                    width: 260px;
                    top: -20px; 
                }
            }
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 90px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 11px;
        }

        .contact-section {
            flex-direction: column;

            .contact-info,
            .contact-form {
                margin-right: 0;
                width: 100%;
            }

            input,
            textarea {
                width: 100%;
            }

            button {
                margin-left: 0;
                padding: 5px 50px;
                font-size: 10px;
            }

            img {
                right: -70px;
                width: 160px;
            }
        }
    }
}
