.profile {
    .orangeBox {
        background-color: rgba(225, 92, 49, 0.9);
        width: 400px;
        max-height: 350px;
        max-width: 400px;
        border-radius: 16px;
        padding: 20px;
    }

    .header {
        margin-top: 10px;

        h1 {
            margin: 0;
            font-family: 'Bebas Neue';
            font-size: 50px;
        }
    }

    .subHeader {
        margin-top: 0px;

        h4 {
            margin: 0;
        }
    }

    .profile-details {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin-top: 20px;

        h5 {
            margin: 0;
            font-weight: 400;
            text-align: left;
        }

    }

    @media (max-width: 768px) {
        .orangeBox {
            margin: 0 auto;
        }
    }

}