@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.about {
  height: calc(100vh - 160px);
  position: relative;
  .header {
    margin-top: 10px;

    h1 {
      color: rgba(225, 92, 49, 0.9);
      margin: 0;
      font-family: "Montserrat";
      font-size: 180px;
      text-align: center;
      font-weight: bold;
    }
    h2 {
      margin: 0;
      font-family: "Bebas Neue";
      font-size: 40px;
      text-align: center;
    }
  }
  .orangeBox {
    background-color: rgba(225, 92, 49, 0.9);
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto auto;
    max-width: 1200px;
    border-radius: 20px;
    margin-top: 150px;

    .pizzaIcon {
      width: 280px;
      margin: 0 auto;
      position: absolute;
      top: 40%;
      //transform: translate(-50%, -50%);
      z-index: 1; /* Adjust the z-index as needed */
    }

    .box-content {
      position: relative;
      padding: 20px;
      margin: auto auto;
      overflow-wrap: break-word;
      display: flex;
      flex-direction: row;
    }

    .pizza-1 {
      flex: 1;
      width: 25vw;
      height: 55vh;
      border-radius: 30px;
      margin: 20px;
    }
    .content {
      margin: 0;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex: 1;

      h1 {
        color: #ffff;
        font-family: "Bebas Neue";
        font-size: 60px;
        text-align: center;
      }

      p {
        color: #ffff;
        margin: 0;
        font-family: "montserrat";
        font-size: 20px;
        text-align: justify;
      }
    }
  }

  .pizza-steps-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
    grid-template-rows: auto auto;

    img {
      width: 80%;
      height: auto;
      border-radius: 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    .header h1 {
      font-size: 90px;
    }
    .orangeBox {
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .content {
        flex: 1;
        margin: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .pizza-1 {
        flex: 1;
        height: 50vh;
        width: 70vw;
        
      }
      .pizzaIcon{
        margin-top: 130px;
        width: 60%;
      }
    }

    .orangeBox .header {
      text-align: center;
    }

    .content-h1 {
      font-size: 30px !important;
    }

    .content {
      margin-top: 20px;
    }

    .content p {
      font-size: 15px !important;
    }
   
  }
 
}
