body {
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 40, 40, 1) 100%
  );

  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h3 {
  color: #e15c31;
}

main {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.content {
  margin: 80px 0;
}
